doctype html
html
  head
    meta(charset="utf-8")
    title Welcome
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    link(rel="shortcut icon", href="favicon.ico")
    link(rel="icon",type="image/png",href="images/favicon.png")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72" href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114" href="images/apple-touch-icon-114x114.png")

    block styles
    block scripts

body.plain_bg
  block content
