extends sitetemplate

block styles
  link(href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700" rel="stylesheet" type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet" type="text/css")
  link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
  link(rel="stylesheet", type="text/css", href="css/bootstrap-responsive.min.css")
  link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/base.css")
  link(rel="stylesheet", type="text/css", href="css/color-dark.css")
  //- link(rel="stylesheet", type="text/css", href="css/color-light.css")
  link(rel="stylesheet", type="text/css", href="css/jquery.mCustomScrollbar.css")
  link(rel="stylesheet", type="text/css", href="css/magnific-popup.css" media="screen")
  link(rel="stylesheet", type="text/css", href="css/supersized.min.css" media="screen")
  link(rel="stylesheet", type="text/css", href="css/supersized.shutter.min.css" media="screen")
  //if gte IE 9
    style(type='text/css')
      .gradient {
      filter: none;
      }

block scripts
  script(type="text/javascript", src="js/jquery-1.8.2.min.js")
  script(type="text/javascript", src="js/bootstrap.min.js")
  script(type="text/javascript", src="js/jquery.fitvids.js")
  //- //script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false")
  script(type="text/javascript", src="js/supersized.3.2.7.min.js")
  script(type="text/javascript", src="js/supersized.shutter.min.js")
  script(type="text/javascript", src="js/jquery.magnific-popup.min.js")
  script(type="text/javascript", src="js/jquery.mCustomScrollbar.concat.min.js")
  script(type="text/javascript", src="js/jquery.cycle.all.js")
  script(type="text/javascript", src="js/jquery.nicescroll.min.js")
  script(type="text/javascript", src="js/custom.js")
  script(type="text/javascript", src="js/jquery.comingsoon.min.js")
  script(type="text/javascript", src="js/main-fm.js")
  //- //script(type="text/javascript", src="js/jquery.jstwitter.js")
  script(type="text/javascript", src="js/page.js")

block content
  .pageFade
  .mobile_header
    .logo_holder
      .showHideMenu
        i.fa.fa-bars
      .menu_holder
  //- include theme.html
  include welcome/home
  // pgScrollUp navigation used to scroll the page to top position
  .pgScrollUp
  // Complete web site content is placed inside the bodyContainer class div
  .bodyContainer
    a.page_close
    include welcome/setup
    include welcome/services
    //- include welcome/connect
    include welcome/notices
    include welcome/security

