.contentWrapper.contactPage(data-id='!guides')
  .m-Scrollbar
    hr.alignToMiddle
    .container-fluid.darkStyle
      .row-fluid
        .span12
          .heading_stroke
            .heading_stroke_wrapper
              .stroke-text
                h2 Guides
              .stroke-holder
                .stroke-line
      .row-fluid
        .span12
          dl.accordion(data-autohide='false', data-openfirstelement='false')
            dt
              a.normal(href='')
                span.acc_heading WorkingOn
            dd
              span.acc_content
                :markdown
                  To make it easier for you here is a quick visual guide showing you how to get started.

                  1. Go to [WorkingOn](https://www.workingon.co) and click get started!
                  ![Image](images/guides/security/workingonstep1.jpg)

                  2. Insert your email address
                  ![Image](images/guides/security/workingonstep2.jpg)

                  3. Generate a password with your password manager (or type one in)
                  ![Image](images/guides/security/workingonstep3.jpg)

                  4. You’re set! Type in what you’re working on and you’re game!
                  ![Image](images/guides/security/workingonstep4.jpg)

                  Images folder https://drive.google.com/a/ethereum.org/folderview?id=0B49EMS-_R44xLTVPa2labms0VWM&usp=sharing

            dt
              a.normal(href='')
                span.acc_heading Slack
            dd
              span.acc_content
                :markdown
                  1. Go to [ethereum.slack.com](https://ethereum.slack.com/)
                  ![Image](images/guides/security/slackstep1.jpg)

                  2. Check your inbox
                  ![Image](images/guides/security/slackstep2.jpg)

                  3.  Confirm your email
                  ![Image](images/guides/security/slackstep3.jpg)

                  4. Fill in your details
                  ![Image](images/guides/security/slackstep4.jpg)

                  5. You’re in! Now join some rooms!
                  ![Image](images/guides/security/slackstep5.jpg)


            dt
              a.normal(href='')
                .acc_heading App guide: K9 Mail Android
            dd
              span.acc_content
                :markdown
                  Before we get started you might want to activate the IMAP for your account. You can use POP3 as well but the incoming and outgoing mail settings will be different than the one shown in the guide.

                  Here is how you can activate it:

                  1. Go to your [ethereum inbox](http://mail.ethereum.org) and click the little cog
                  ![Image](images/guides/android/androidk9mailguide1.png)

                  2. Follow the instructions shown in the picture
                  ![Image](images/guides/android/androidk9mailguide2.png)

                  Now get your Android device and let’s get crackin’!


                  1. Install K9 Mail from the [Play store](https://play.google.com/store/apps/details?id=com.fsck.k9)
                  ![Image](images/guides/android/androidk9mailguide3.png)

                  2. Insert your password. In case you have 2FA activated you will have to generate a unique password for this app from the security section of your account.
                  ![Image](images/guides/android/androidk9mailguide4.png)

                  3. Select IMAP
                  ![Image](images/guides/android/androidk9mailguide5.png)

                  4. Your incoming mail settings should look like this
                  ![Image](images/guides/android/androidk9mailguide6.png)

                  5. Your outgoing mail settings should look like this
                  ![Image](images/guides/android/androidk9mailguide7.png)

                  6. Click next
                  ![Image](images/guides/android/androidk9mailguide8.png)

                  7. Almost there! All it’s left now is to name your inbox and insert your name.
                  ![Image](images/guides/android/androidk9mailguide9.png)

                  That’s it! You’re set!

      hr.separator_mini
