.contentWrapper.contactPage(data-id='!notices')
  hr.alignToMiddle
  .container-fluid.darkStyle
    .row-fluid
      .span12
        .heading_stroke
          .heading_stroke_wrapper
            .stroke-text
              h2 Company News &amp; Notices
            .stroke-holder
              .stroke-line
    //- .stroke-line.separator
    .row-fluid
      .span12
        dl.accordion(data-autohide='true', data-openfirstelement='true')
          dt
            a.normal(href='')
              span.acc_heading Email migration
          dd
            span.acc_content
              :markdown
                We recently switch email providers. Instructions on completing the switch were provided via multiple communication channels.
                If you cannot access your account, please ask in [#devops](https://ethereum.slack.com/messages/welcome) to have your password reset.

          dt
            a.normal(href='')
              span.acc_heading Bitcoin Expo 2014 summary
          dd
            span.acc_content
              :markdown
                Bitcoin Expo 2014 in Toronto, Ontario, Canada was a huge success!
                As a Platinum Sponsor, we were charged with and professionally executed the event, answering as many questions as possible.

          dt
            a.normal(href='')
              span.acc_heading Heartbleed
          dd
            span.acc_content
              :markdown
                Ethereum's servers are fully patched and updated with the latest patched versions of OpenSSL where applicable. A new SSL certificate has been obtained to replace the possibly compromised one.

          dt
            a.normal(href='')
              span.acc_heading Sale
          dd
            span.acc_content
              :markdown
                The ether sale has not been launched nor has a specific start date been set.

    //- .stroke-line.separator

