.contentWrapper.contactPage(data-id='!security')
  .m-Scrollbar
    hr.alignToMiddle
    .container-fluid
      .row-fluid
        .span12
          .heading_stroke
            .heading_stroke_wrapper
              .stroke-text
                h2 Security Recommendations
              .stroke-holder
                .stroke-line
