.contentWrapper.contactPage(data-id='!security')
  .m-Scrollbar
    hr.alignToMiddle
    .container-fluid.darkStyle
      .row-fluid
        .span12
          .heading_stroke
            .heading_stroke_wrapper
              .stroke-text
                h2 Security Recommendations
              .stroke-holder
                .stroke-line
      .row-fluid
        .span12
          .row-fluid
            .span12
              h6 Thanks for making the time to better secure yourself :) By the end of this tutorial you’ll be a security ninja. Let's get started!
      .row-fluid
        .span12
          dl.accordion(data-autohide='false', data-openfirstelement='true')
            dt
              a.normal(href='')
                span.acc_heading ## LVL 1: Recovery email &amp; phone number
            dd
              span.acc_content
                :markdown
                  1. Sign in to your [ethereum email](http://mail.ethereum.org/)
                  ![Google Sign-in](images/guides/security/lvl1step1.png)

                  1. Access your account through your profile link in the upper right.
                  ![Access account link](images/guides/security/lvl1step2.png)

                  1. Click edit to add a recovery email and phone
                  ![Edit email &amp; phone](images/guides/security/lvl1step3.png)

                  1. Click the `Add phone number` link
                  ![Email &amp settings](images/guides/security/lvl1step4.png)

                  1. Click Add phone
                  ![Account recovery - Add phone](images/guides/security/lvl1step5.png)

                  1. Add a phone number that you have access to
                  ![Account recovery - enter number](images/guides/security/lvl1step6.png)

                  1. And now insert a recovery email:
                  ![Account recovery - enter email](images/guides/security/lvl1step7.png)

                  Kudos! Now you have a minimum level of security in place. Let’s kick it up a notch!

            dt
              a.normal(href='')
                span.acc_heading ## LVL 2. Securing your Google account with 2FA
            dd
              span.acc_content
                :markdown
                  This is a step by step guide that will help you set up two factor authentication in just a few clicks. At the end of the steps your account would look like this:
                  ![Full-enabled 2FA on Google](images/guides/security/lvl2step0.png)

                  ### SMS 2FA setup

                  1. Access your account by clicking your profile in the upper right.
                  ![Image](images/guides/security/lvl2step1.png)

                  2. Once in your account, click on the `Security` tab
                  ![Image](images/guides/security/lvl2step2.png)

                  3. Under the Password section, click the `Setup` link next to 2-Step Verification
                  ![Image](images/guides/security/lvl2step3.png)

                  4. Continue by clicking `Start setup`
                  ![Image](images/guides/security/lvl2step4.png)

                  5. Enter your country and phone number then click `Send code`
                  ![Image](images/guides/security/lvl2step5.png)

                  6. Enter the verification code Google just sent you
                  ![Image](images/guides/security/lvl2step6.png)

                  7. Click `Verify`
                  ![Image](images/guides/security/lvl2step7.png)

                  8. This this is a personal device, select `Trust this computer`. Either way, click `Next`
                  ![Image](images/guides/security/lvl2step8.png)

                  9. Click `Confirm`
                  ![Image](images/guides/security/lvl2step9.png)

                  10. Now that you've got 2FA enabled, you'll need to set up a special application password for things like your phone or desktop mail clients. Click `Reconnect my apps` to get started!
                  ![Image](images/guides/security/lvl2step10.png)

                  11. For each app or device connected to Google, update its password by entering the name below and clicking `Generate`.
                  ![Image](images/guides/security/lvl2step11.png)

                  12. A unique password is generated... just paste or type the password (spaces don't matter) into your device/app. Revoking access is as easy as clicking the link next to the respective device. Wow. Much amaze!
                  ![Image](images/guides/security/lvl2step12.png)

            dt
              a.normal(href='')
                span.acc_heading ## LVL 3: Your smartphone = cryptographic token
            dd
              span.acc_content
                :markdown
                  Before we start, in case you don’t have already a 2FA app installed we recommend to install Authy app from the [Android Play Store](https://play.google.com/store/apps/details?id=com.authy.authy) or [iTunes](https://itunes.apple.com/en/app/authy/id494168017?mt=8).

                  ### Securing your Google account with Authy

                  1. Descriptive text here
                  ![Image](images/guides/security/lvl3step1.png)

                  2. Descriptive text here
                  ![Image](images/guides/security/lvl3step2.png)

                  3. Descriptive text here
                  ![Image](images/guides/security/lvl3step3.png)

                  4. Descriptive text here
                  ![Image](images/guides/security/lvl3step4.png)

                  5. Descriptive text here
                  ![Image](images/guides/security/lvl3step5.png)

                  6. Descriptive text here
                  ![Image](images/guides/security/lvl3step6.png)


                  7. Descriptive text here
                  ![Image](images/guides/security/lvl3step7.png)

                  8. Descriptive text here
                  ![Image](images/guides/security/lvl3step8.png)

                  9. You’re a ninja!
                  ![Image](images/guides/security/lvl3step9.png)

            dt
              a.normal(href='')
                span.acc_heading ### Securing your GitHub account with Authy
            dd
              span.acc_content
                :markdown
                  1. Go to your [GitHub account section](https://github.com/settings/admin)
                  ![Image](images/guides/security/lvl3githubstep1.png)

                  2. In the account section click “setup two-factor authentication” ![Image](images/guides/security/lvl3githubstep2.png)

                  3. Click “set up using an app”
                  ![Image](images/guides/security/lvl3githubstep3.png)

                  4. Add a new account into your Authy app and then scan the QR code shown on the page. Enter  the code shown on your phone and you’re set!
                  ![Image](images/guides/security/lvl3githubstep4.jpeg)

                  5. Boom. Like a boss.
                  ![Image](images/guides/security/lvl3githubstep5.png)

                  You should feel proud of yourself! :) Remember to check out our best practices section for further online security tips and guides. In case you've noticed an error or something bad in the tutorials please [let us know](https://ethereum.slack.com/messages/welcome/).

