.contentWrapper(data-id='!services')
  .m-Scrollbar
    hr.alignToMiddle
    .container-fluid.darkStyle
      .row-fluid
        .span12
          .heading_stroke
            .heading_stroke_wrapper
              .stroke-text
                h2 Service Status &amp; Links
              .stroke-holder
                .stroke-line
    .container-fluid
      .row-fluid
        .span12
          .row-fluid
            .span12
              h6 As a distributed team, we live and die by our automation and communication tools. Find answers here.
          hr.separator_mini
          .row-fluid
            .span6
              a.services.right(href='https://google.com/a/ethereum.org', target='_blank')
                .description
                  h5.upperCase Google Apps
                  p Mail, Calendar, Docs, and Drive
                span.service_icon
                  img(src='images/service_img1.png', alt='image01')
              hr.separator
            .span6
              a.services(href='https://ethereum.slack.com/messages', target='_blank')
                span.service_icon
                  img(src='images/service_img2.png', alt='image02')
                .description
                  h5.upperCase Slack
                  p Where all the action happens ;)
              hr.separator
          .row-fluid
            .span6
              a.services.right(href='https://www.workingon.co/work', target='_blank')
                .description
                  h5.upperCase WorkingOn
                  p Let us know how hard you work!
                span.service_icon
                  img(src='images/service_img3.png', alt='image03')
              hr.separator_mini
            .span6
              a.services.magnificPopup-video(href='https://www.expensify.com/expenses', target='_blank')
                .description
                  h5.upperCase Expensify
                  p Trips, expenses, and reimbursements.
                span.service_icon
                  img(src='images/service_img4.png', alt='image04')
          .row-fluid
            .span6
              a.services.right(href='https://www.tripit.com/teams', target='_blank')
                .description
                  h5.upperCase TripIt
                  p Where is everyone?!
                span.service_icon
                  img(src='images/service_img5.png', alt='image03')
              hr.separator_mini
            .span6
              //- a.services.magnificPopup-video(href='https://www.expensify.com/expenses', target='_blank')
              //-   .description
              //-     h5.upperCase Expensify
              //-     p Trips, expenses, and reimbursements.
              //-   span.service_icon
              //-     img(src='images/service_img6.png', alt='image04')
          //- .stroke-line.separator
    .container-fluid
      .row-fluid
        .span12
          .heading_stroke
            .heading_stroke_wrapper
              .stroke-text
                h3 Other useful links:
              .stroke-holder
                .stroke-line.small_tit
      ul
        li
          a(href='http://blog.ethereum.org') Blog
        li
          a(href='https://forum.etheruem.org') Forum
        li
          a(href='http://reddit.com/r/ethereum') Reddit
        li
          a(href='https://twitter.com/ethereumproject') Twitter
