
<!-- Contact us -->


<div data-id="!connect" class="contentWrapper contactPage"  >



  <div class="m-Scrollbar">

        <hr class="alignToMiddle" />

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12" >
                    <div class="heading_stroke">
                        <div class="heading_stroke_wrapper">
                            <div class="stroke-text"><h2>Contact Us</h2></div>
                            <div class="stroke-holder"><div class="stroke-line"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid desktop_alignLeft" >

            <div class="row-fluid" >
                <div class="span12">


                    <!-- Google map position is defined in custom.min.js file near the // Google map Code // comment line
                        the google.maps.LatLng variable is used to set the location of the map -->
                     <div id="map_canvas" >
                        <!-- Google map load error message -->
                        <a class="openGoogleMap"><i class="fa fa-map-marker fa-1x"></i>  <strong>Click to see Map Location</strong> </a>

                    </div>
                </div>

            </div>

            <div class="row-fluid" >

                <div class="span5" >
                    <h5 class="upperCase bold_weight"> Office Address:</h5>
                    <hr>
                    <h6>
                        0025 street name<br>
                        los Angle, 23589, USA
                    </h6>
                    <hr>
          <em>
                        <span class="list6"> 123.123.2586</span>
                        <span class="list1"> +044-3658954869</span>
                        <span class="list2"> <a>admin@websitename.com</a></span>
                    </em>
                    <ul class="font_awesome " >
                        <li ><a ><i class="fa fa-facebook"></i></a></li>
                        <li ><a ><i class="fa fa-twitter"></i></a></li>
                        <li ><a ><i class="fa fa-google-plus"></i></a></li>
                        <li ><a ><i class="fa fa-flickr"></i></a></li>
                        <li ><a ><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <hr class="separator_mini">
                </div>

                <div class="span7" >
                  <div class="row-fluid" >
                        <div class="span12">
                            <h5 class="bold_weight"> SEND MESSAGE: </h5>
                            <hr>
                        </div>
                   </div>

                  <div class="row-fluid transparent">
                        <!--Email contact Form-->
                        <form name="contact " method="post" >
                          <div class="row-fluid">
                            <div class="span6">
                                <input type="text" value="Name" id="name" name="name" class="span12"
                            onfocus="if(this.value == 'Name') {this.value = '';}"
                            onblur="if (this.value == '') {this.value = 'Name';}" />
                            </div>
                            <div class="span6">
                                <input type="text" value="Email" id="email" name="email" class="span12"
                            onfocus="if(this.value == 'Email') {this.value = '';}"
                            onblur="if (this.value == '') {this.value = 'Email';}" />
                            </div>
                  </div>
                            <div class="row-fluid">
                            <div class="span12">
                                <textarea cols="30" rows="5" id="comments" name="comments" class="span12"
                            onfocus="if(this.value == 'Comments...') {this.value = '';}"
                            onblur="if (this.value == '') {this.value = 'Comments...';}">Comments...</textarea>

                            </div>
                            </div>
                            <div class="row-fluid">
                            <div class="span6">
                                <button type="submit" id="email_submit"  class="button transparent alignLeft">SEND</button>
                                <div id="reply_message" ></div>
                            </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <hr class="separator_mini">


        </div>

  </div>
</div>

