<div class="home_container">
    <div class="home_page left_content darkStyle">

        <!--
          Logo place holder
        -->
        <div class="logo_holder" data-displayTime="0">
            <div class="logo center_position" >
                <!-- <a href="!home"> -->
                    <img class="logo_normal" src="images/logo.png" data-retina="yes" alt="ethereum">
                <!-- </a> -->
            </div>
        </div>

        <div class="container-fluid left_Holder">

             <hr class="top_space">

             <div class="row-fluid">
                <div class="span12" data-displayTime="3" >
                    <h1 class="upperCase">Welcome</h1>
                </div>
            </div>



            <!--
                Add Timer, Set the time in custom.min.js file near /* set the Final date in YYYY/MM/DD HH:SEC:MIN formate  */ comment line
            -->

            <div class="row-fluid" id="clock"  data-displayTime="6">
                <div class="span12 counter_time countdown" >
                    <span class="font_medium time_days first">000</span><span class="font_small"> days</span>
                    <span class="font_medium time_hours">00</span><span class="font_small"> hours</span>
                    <span class="font_medium time_minutes">00</span> <span class="font_small"> mins</span>
                    <span class="font_medium time_seconds">00</span><span class="font_small"> secs</span>
                </div>
            </div>
            <hr class="separator_mini">
            <div class="row-fluid">
                <div class="span12" data-displayTime="9" >
                    <span class="font_medium_x t2_space" >until Bitcoin 2014, Amsterdam</span>
                </div>
                <hr>
            </div>

      <hr class="separator_mini">

            <div class="row-fluid animate" data-displayTime="12">
                <div class="span12">
                    <div class="join_form">
                        <form name="joinus" method="post" >
                                <input class="" type="text" value="LOGIN" id="joinus_email" name="joinus_email"
                                onfocus="if(this.value == 'LOGIN') {this.value = '';}"
                                onblur="if (this.value == '') {this.value = 'LOGIN';}" />
                                <button class="darkStyle" type="submit" id="joinus_submit"> <i class="fa fa-plus-circle fa-2x"></i></button>
                        </form>

                    </div>
                    <div id="reply_joinus_message" ></div>
                </div>
            </div>

            <hr class="separator_mini">

<!--
             <div class="row-fluid"  data-displayTime="12" >
                <div class="span12">
                    <p>
                        We are distributed organization working together to create distributed systems.
                    </p>
                     <p>
                        We specialize in distributed networks and next-generation web services,<br>
                        including a team of world-class researchers, designers and developers.<br>
                    </p>
                </div>
            </div>

             <hr class="separator_mini"> -->

        </div>

    </div>

    <div class="home_page right_content darkStyle ">

        <div class="container-fluid right_Holder">

            <hr class="top_space">

            <a class="page_close"> </a>

            <div class="row-fluid"  data-displayTime="20">
                <div class="span12">
                    <h4 class="t_space">We're excited to have you as part the team!</h4>
                </div>
            </div>

            <div class="row-fluid"  data-displayTime="20">
                <div class="span12">
                  <div class="t3_space">
                        <h5>We created this welcome site as a one-stop-shop for all employee needs. Have a look around :)
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12 menu_holder">

                    <!--
                      Page Navigation Area
                    -->
                    <div class="header " >

                        <div class="header_content" >

                           <ul class="nav">
                              <!--  Add require site page navigation -->
                              <li data-displayTime="30"><a href="!setup"><span class="stroke"></span>Quick Start</a></li>
                              <li data-displayTime="33"><a href="!services"><span class="stroke"></span> Service Status</a></li>
                              <li data-displayTime="36"><a href="!connect"><span class="stroke"></span> Connect with us</a></li>
                              <li data-displayTime="39"><a href="!notices" class="last"><span class="stroke"></span> Bulletins</a></li>
                          </ul>

                       </div>

                    </div>

                </div>

            </div>

<!--             <div class="row-fluid"  data-displayTime="35">

              <div class="tweet_feed_icon darkStyle"></div>
                <div class="span12" >
                    <div id="jstwitter" class="slideshow_tweet">

                    </div>

                </div>
            </div> -->


            <hr class="separator_mini">

        </div>




    </div>
</div>

