
<!-- service page -->
<div data-id="!services" class="contentWrapper" >



    <div class="m-Scrollbar">

      <hr class="alignToMiddle" />

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12" >
                    <div class="heading_stroke">
                        <div class="heading_stroke_wrapper">
                            <div class="stroke-text"><h2>Service Status &amp; Links</h2></div>
                            <div class="stroke-holder"><div class="stroke-line"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid " >

            <div class="row-fluid">
                <div class="span12" >

                    <div class="row-fluid">
                        <div class="span12">
                            <h6>As a distributed team, we live and die by our automation and communication tools. Find answers here.</h6>
                        </div>
                    </div>


                    <hr class="separator_mini">

                    <div class="row-fluid">
                        <div class="span6 " >
                          <a class="services right" href="https://google.com/a/ethereum.org" target="_blank">
                              <div class="description">
                                  <h5 class="upperCase">Google Apps</h5>
                                  Mail, Calendar, Docs, and Drive
                             </div>
                             <span class="service_icon"><img src="images/service_img1.png" alt="image01" /></span>
                          </a>
                          <hr class="separator">
                        </div>

                        <div class="span6" >
                            <a class="services" href="https://ethereum.slack.com/messages" target="_blank" >
                              <span class="service_icon"><img src="images/service_img2.png" alt="image02" /></span>
                              <div class="description">
                                  <h5 class="upperCase">Slack</h5>
                                  <p>Where all the action happens ;)</p>
                             </div>
                          </a>
                           <hr class="separator">
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6" >
                            <a class="services right" href="https://www.workingon.co/work" target="_blank">
                              <div class="description">
                                  <h5 class="upperCase">WorkingOn</h5>
                                  <p>Let us know how hard you work!</p>
                             </div>
                             <span class="service_icon"><img src="images/service_img3.png" alt="image03" /></span>
                          </a>
                          <hr class="separator_mini">
                        </div>

                        <div class="span6" >
                            <a class="services magnificPopup-video" href="https://www.expensify.com/expenses" target="_blank" >
                              <div class="description">
                                  <h5 class="upperCase">Expensify</h5>
                                  <p>Trips, expenses, and reimbursements.</p>
                             </div>
                             <span class="service_icon"><img src="images/service_img4.png" alt="image04" /></span>
                          </a>
                        </div>

                    </div>


          <div class="stroke-line separator"></div>

<!--
          <div class="row-fluid">
              <div class="span6">
              <h4>KPIs</h4>

              <div class="graph_container">
                  <ul>
                      <li data-level="95%"><a></a> <span class="graph_item">Web Design </span> <span class="graph_value"><span></span><i class="fa fa-caret-down"></i></span> </li>
                      <li data-level="70%"><a></a> <span class="graph_item">Software Development</span> <span class="graph_value"><span></span><i class="fa fa-caret-down"></i></span> </li>
                      <li data-level="90%"><a></a> <span class="graph_item">Branding &amp; Identity</span> <span class="graph_value"><span></span><i class="fa fa-caret-down"></i></span> </li>
                      <li data-level="85%"><a></a> <span class="graph_item">Media &amp; Film</span> <span class="graph_value"><span></span><i class="fa fa-caret-down"></i></span> </li>
                      <li data-level="75%"><a></a> <span class="graph_item">Game Development</span> <span class="graph_value"><span></span><i class="fa fa-caret-down"></i></span> </li>
                  </ul>
              </div>
              <hr class="separator_medium">
            </div>

            <div  class="span6">
                <h4 >We use latest Technology</h4>
                <hr>
                  <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_z1" data-toggle="tab">HTML Responsive</a></li>
                  <li><a href="#tab_z2" data-toggle="tab">Mobile Friendly</a></li>
                  </ul>
                    <div class="tab-content">

                      <div class="tab-pane fade in active" id="tab_z1">
                          <div class="row-fluid">
                              <div class="span12">
                                  <h5 class="noMargin upperCase">HTML Responsive using css</h5>
                                  <p class="tiny_font">
                                      <span class="thumbnail mini" >
                                          <img src="images/team_img1.jpg" class="img-rounded-mini imgBorder" alt="image name">
                                      </span>Rliquam erat volutpat. consectetuer adipiscing sed diam nonummy nibh. adipiscing elit euismod tincidunt sed diam nonummy Topsum dolor sit amet, consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.</p>
                                  <h6><a><em>- Tom Cris, Founder</em></a></h6>
                              </div>
                          </div>
                      </div>

                      <div class="tab-pane fade" id="tab_z2">
                          <div class="row-fluid">
                              <div class="span12">
                                  <h5 class="noMargin upperCase">Support any device</h5>
                                  <p class="tiny_font">
                                  <span class="thumbnail mini" >
                                      <img src="images/team_img3.jpg" class="img-rounded-mini imgBorder" alt="image name">
                                  </span>

                                  Aliquam erat volutpat. consectetuer adipiscing sed diam nonummy nibh. adipiscing elit euismod tincidunt sed diam nonummy Topsum dolor sit amet, consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.
                                  </p>
                                  <h6><a><em>- David French, Development Manager </em></a></h6>
                                </div>
                          </div>
                      </div>

                  </div>

            </div>

          </div>
 -->
                </div>
            </div>
        </div>



    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12" >
          <div class="heading_stroke">
            <div class="heading_stroke_wrapper">
              <div class="stroke-text"><h3>Other useful links:</h3></div>
              <div class="stroke-holder"><div class="stroke-line small_tit"></div></div>
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li><a href="http://blog.ethereum.org">Blog</a></li>
        <li><a href="https://forum.etheruem.org">Forum</a></li>
        <li><a href="http://reddit.com/r/ethereum">Reddit</a></li>
        <li><a href="https://twitter.com/ethereumproject">Twitter</a></li>
      </ul>

    </div>




<!--         <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12" >
                    <div class="heading_stroke">
                        <div class="heading_stroke_wrapper">
                            <div class="stroke-text"><h3>Clients Forever</h3></div>
                            <div class="stroke-holder"><div class="stroke-line small_tit"></div></div>
                        </div>
                    </div>
        </div>
            </div>

      <hr>

            <div class="row-fluid">
                <div class="span12">
                    <ul class="thumbnail_list normal " >
                        <li><a ><img class="img-rounded-mini imgBorder" src="images/client1.png" alt="image01" /></a></li>
                        <li><a ><img class="img-rounded-mini imgBorder" src="images/client2.png" alt="image02" /></a></li>
                        <li><a ><img class="img-rounded-mini imgBorder" src="images/client3.png" alt="image03" /></a></li>
                        <li><a ><img class="img-rounded-mini imgBorder" src="images/client4.png" alt="image04" /></a></li>
                    </ul>
                   <hr class="separator_medium">
                 </div>
            </div>
    </div> -->



  </div>

</div>
