
<!-- setup page -->

<div data-id="!setup" class="contentWrapper" >

  <div class="m-Scrollbar">

      <hr class="alignToMiddle" />

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12" >
                    <div class="heading_stroke">
                        <div class="heading_stroke_wrapper">
                            <div class="stroke-text"><h2>Quick Start</h2></div>
                            <div class="stroke-holder"><div class="stroke-line"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- Tab section -->

      <div class="container-fluid ">
      <div class="row-fluid">
                 <div class="span12">
                  <h6>First timer? No worries, the guide below should get you up and running in no time. Reach a snag? <a href="https://ethereum.slack.com/messages/general">Let us know how to improve it.</a></h6>
                    <br>
                 </div>
      </div>
      <h2>Step One: Google Apps</h2>
      <ul>
      <li><a href="http://mail.ethereum.org" target="_blank">Mail</a>, <a href="http://calendar.ethereum.org" target="_blank">Calendar</a>, <a href="http://docs.google.com" target="_blank">Docs</a></li>
      <li>Username: <code>&lt;firstname.lastname&gt;@ethereum.org</code></li>
      <li>Password: <code>&lt;supplied to you&gt;</code></li>
      </ul>
      <p>After you’re done, you can <a href="https://support.google.com/mail/troubleshooter/1668960?authuser=1&amp;rd=1">sync your account</a> in your preferred desktop or mobile client.</p>
      <h2>Step Two: WorkingOn</h2>
      <p><a href="https://www.workingon.co/">Create an account</a> with your <code>@ethereum.org</code> email &amp; all your updates will automagically be posted to slack in the <a href="https://ethereum.slack.com/messages/workingon">#workingon</a> channel. Each morning a summary email will be sent out with the prior day’s activities… and if you forgot to mention anything, just reply with those items. </p>
      <p>In fact, you can also keep WorkingOn updated while on-the-go by sending an email to <a href="mailto:today@m.workingon.co">today@m.workingon.co</a> from your <code>@ethereum.org</code> email. Put one task per line, like this:</p>
      <pre><code>checking out the WorkingOn tools
testing the email tool
installing some of the other tools

-
Mihai</code></pre>
      <p>The important thing is to <strong>try and make a habit of writing short updates</strong> to keep the entire team in sync. This tool is tremendously useful for everyone to stay in sync but only works if we all use it :)</p>
      <h2>Step Three: Slack</h2>
      <p><a href="https://ethereum.slack.com/signup">Slack</a> is our primary communication and sharing tool. It integrates with WorkingOn, GitHub, and <a href="https://ethereum.slack.com/services/2261375141">Google Drive</a>. They&#39;ve also got mobile clients for <a href="https://itunes.apple.com/us/app/slack-team-communication/id618783545?mt=8">iPhone</a> and <a href="https://play.google.com/store/apps/details?id=com.Slack">Android</a>.</p>
      <p>The next thing is to look for the ethereum #channels relevant to your interests and domain(s) of activity and join in. If you have any questions please check the Questions tab. See you in <a href="https://ethereum.slack.com/messages/random">#random</a>!</p>


          </div>

          <hr class="separator_mini">

        </div>
      </div>
