extends ../layout

block styles
  link(href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700" rel="stylesheet" type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet" type="text/css")

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  link(rel='shortcut icon', href='images/favicon.ico')
  link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')

  link(href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Raleway:200,100', rel='stylesheet', type='text/css')
  link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="css/bootstrap-responsive.min.css")
  link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", type="text/css", href="css/main.min.css")
  link(rel="stylesheet", type="text/css", href="css/base.min.css")
  link(rel="stylesheet", type="text/css", href="css/color-dark.css")
  link(rel="stylesheet", type="text/css", href="css/color-light.css")
  link(rel="stylesheet", type="text/css", href="css/jquery.mCustomScrollbar.css")
  link(rel="stylesheet", type="text/css", href="css/magnific-popup.css" media="screen")
  link(rel="stylesheet", type="text/css", href="css/supersized.min.css" media="screen")
  link(rel="stylesheet", type="text/css", href="css/supersized.shutter.min.css" media="screen")
  //if gte IE 9
    style(type='text/css')
      .gradient {
      filter: none;
      }

block body
  //
      site loading
  .pageFade
  //
      Mobile Header
  .mobile_header
    .logo_holder
    .showHideMenu
      i.fa.fa-bars
    .menu_holder
  .home_container
    .home_page.left_content.lightStyle
      //
                  Logo place holder

      .logo_holder(data-displaytime='1')
        .logo.center_position
          a(href='!home')
            img.logo_normal(src='images/logo.png', data-retina='yes', alt='logo text')
      .container-fluid.left_Holder
        hr.top_space
        .row-fluid
          .span12(data-displaytime='15')
            h1.upperCase Welcome
        .row-fluid
          .span12(data-displaytime='25')
            span.font_medium_x.t2_space Our new website will coming soon
          hr
        //
                          Add Timer, Set the time in custom.min.js file near /* set the Final date in YYYY/MM/DD HH:SEC:MIN formate  */ comment line

        #clock.row-fluid(data-displaytime='40')
          .span12.counter_time.countdown
            span.font_medium.time_days.first 000
            span.font_small  days
            span.font_medium.time_hours 00
            span.font_small  hours
            span.font_medium.time_minutes 00
            span.font_small  mins
            span.font_medium.time_seconds 00
            span.font_small  secs
        br
        hr.separator_mini
        .row-fluid.animate(data-displaytime='110')
          .span12
            .join_form
              form(name='joinus', method='post')
                input#joinus_email(type='text', value='JOIN OUR NEWS LETTER', name='joinus_email', onfocus='if(this.value == \'JOIN OUR NEWS LETTER\') {this.value = \'\';}', onblur='if (this.value == \'\') {this.value = \'JOIN OUR NEWS LETTER\';}')
                button#joinus_submit(type='submit')
                  i.fa.fa-plus-circle.fa-2x
            #reply_joinus_message
        hr.separator_mini
        .row-fluid(data-displaytime='115')
          //
                             Tweeter Feed

          .tweet_feed_icon
          .span12
            #jstwitter.slideshow_tweet.alignRight
        hr.separator_mini
    .home_page.right_content.lightStyle
      .container-fluid.right_Holder
        hr.top_space
        a.page_close
        .row-fluid(data-displaytime='55')
          .span12
            h4.t_space We are working on something awesome
        .row-fluid(data-displaytime='70')
          .span12
            .t3_space
              h5
                | We Creates Simple, Clean and
                br
                | Morden content for the word-wide web
        .row-fluid
          .span12.menu_holder
            //
                                    Page Navigation Area

            .header
              .header_content
                ul.nav
                  //
                      Add require site page navigation
                  li(data-displaytime='95')
                    a(href='!aboutus')
                      span.stroke
                      | About Us
                  li(data-displaytime='97')
                    a(href='!services')
                      span.stroke
                      | Services
                  li(data-displaytime='99')
                    a(href='!contactus')
                      span.stroke
                      | Contact Us
                  li(data-displaytime='101')
                    a.last(href='!features')
                      span.stroke
                      | Features
        .row-fluid(data-displaytime='120')
          .span12
            p.half_width
              | We shape our services and solutions to fit the way work and need.
            p.half_width
              | We specialized in advanced web services including website design,
              br
              | website development as well as software & app development.
              br
              | we have a team of best web designers and developers
        hr.separator_mini
  //
     pgScrollUp navigation used to scroll the page to top position
  .pgScrollUp
  //
     Complete web site content is placed inside the bodyContainer class div
  .bodyContainer
    a.page_close.lightStyle
    //
       Aboutus page
    .contentWrapper.lightStyle(data-id='!aboutus')
      .m-Scrollbar
        hr.alignToMiddle
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h2 We Are
                  .stroke-holder
                    .stroke-line
        //
           Tab section
        .container-fluid
          .row-fluid
            .span12
              h6
                | A popular Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              br
          .row-fluid
            .span6
              h4
                | John Doe,
                span.tiny_font Founder
              p
                span.thumbnail.mini
                  img.img-rounded-mini.imgBorder(src='images/team_img1.jpg', alt='image name')
                | Create adipiscing elit dolore magna aliquam erat volutpat. consectetuer adipiscing. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat ciam nonummy nibh euismod tlaoreet nibh euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.
              br
              br
            .span6
              h4
                | Lisa Mark,
                span.tiny_font CEO
              p
                span.thumbnail.mini
                  img.img-rounded-mini.imgBorder(src='images/team_img2.jpg', alt='image name')
                | Tincidunt sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat nibh euismod tincidunt. sed diam nonummy nibh euismod tlaoreet.
                br
        hr.separator_mini
    //
       service page
    .contentWrapper.lightStyle(data-id='!services')
      .m-Scrollbar
        hr.alignToMiddle
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h2 We Do
                  .stroke-holder
                    .stroke-line
        .container-fluid
          .row-fluid
            .span12
              .row-fluid
                .span12
                  h6
                    | Create nibh euismod tincidunt ut euismod tincidunt Lorem ipsum dolor sit amet, consectetuer adipiscing elit laoreet ad minim veniam. consectetuer adipiscing elit dolore magna aliquam erat volutpat. Ftrem ipsum dolor sit amet consectetuer adipiscing elit laoreet ad minim veniam. consectetuer adipiscing elit dolore magna aliquam erat volutpat.
              hr.separator_mini
              .row-fluid
                .span6
                  a.services.right.magnificPopup(data-title='data-title')
                    span.upperCase.bold_weight ANP software development
                    | '  href="images/portfolio/image1.jpg" target="_self"
                    .description
                      h5.upperCase Software Development
                      p Create nibh euismod tincidunt ut euismod tincidunt.
                    span.service_icon
                      img(src='images/service_img1.png', alt='image01')
                  hr.separator
                .span6
                  a.services.magnificPopup(data-title='data-title')
                    span.upperCase.bold_weight Display Popup image
                    | '  href="images/portfolio/image2.jpg" target="_self"
                    span.service_icon
                      img(src='images/service_img2.png', alt='image02')
                    .description
                      h5.upperCase Illustrator Design
                      p Create nibh euismod tincidunt ut euismod tincidunt.
                  hr.separator
              .row-fluid
                .span6
                  a.services.right.magnificPopup-video(title='Load YouTube and Vimeo video', href='http://www.youtube.com/watch?v=9wlFSR3flbk')
                    .description
                      h5.upperCase Game Development
                      p Create nibh euismod tincidunt ut euismod tincidunt.
                    span.service_icon
                      img(src='images/service_img3.png', alt='image03')
                  hr.separator_mini
                .span6
                  a.services.magnificPopup-video(title='Load YouTube and Vimeo video', href='http://www.youtube.com/watch?v=9wlFSR3flbk', target='_self')
                    .description
                      h5.upperCase Media & Film
                      p Create nibh euismod tincidunt ut euismod tincidunt.
                    span.service_icon
                      img(src='images/service_img4.png', alt='image04')
              .stroke-line.separator
              .row-fluid
                .span6
                  h4 Our Skill Area
                  //
                     Graph
                  .graph_container
                    ul
                      li(data-level='95%')
                        a
                        span.graph_item Web Design
                        span.graph_value
                          span
                          i.fa.fa-caret-down
                      li(data-level='70%')
                        a
                        span.graph_item Software Development
                        span.graph_value
                          span
                          i.fa.fa-caret-down
                      li(data-level='90%')
                        a
                        span.graph_item Branding & Identity
                        span.graph_value
                          span
                          i.fa.fa-caret-down
                      li(data-level='85%')
                        a
                        span.graph_item Media & Film
                        span.graph_value
                          span
                          i.fa.fa-caret-down
                      li(data-level='75%')
                        a
                        span.graph_item Game Development
                        span.graph_value
                          span
                          i.fa.fa-caret-down
                  hr.separator_medium
                .span6
                  h4 We use latest Technology
                  hr
                  ul.nav.nav-tabs
                    li.active
                      a(href='#tab_z1', data-toggle='tab') HTML Responsive
                    li
                      a(href='#tab_z2', data-toggle='tab') Mobile Friendly
                  .tab-content
                    #tab_z1.tab-pane.fade.in.active
                      .row-fluid
                        .span12
                          h5.noMargin.upperCase HTML Responsive using css
                          p.tiny_font
                            span.thumbnail.mini
                              img.img-rounded-mini.imgBorder(src='images/team_img1.jpg', alt='image name')
                            | Rliquam erat volutpat. consectetuer adipiscing sed diam nonummy nibh. adipiscing elit euismod tincidunt sed diam nonummy Topsum dolor sit amet, consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.
                          h6
                            a
                              em - Tom Cris, Founder
                    #tab_z2.tab-pane.fade
                      .row-fluid
                        .span12
                          h5.noMargin.upperCase Support any device
                          p.tiny_font
                            span.thumbnail.mini
                              img.img-rounded-mini.imgBorder(src='images/team_img3.jpg', alt='image name')
                            | Aliquam erat volutpat. consectetuer adipiscing sed diam nonummy nibh. adipiscing elit euismod tincidunt sed diam nonummy Topsum dolor sit amet, consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.
                          h6
                            a
                              em - David French, Development Manager
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h3 Latest Works
                  .stroke-holder
                    .stroke-line.small_tit
          hr
          .row-fluid
            .span12
              //
                 In each li tag, the magnificPopup class is used to define the popup plugin and
                                        data-title attribute is used to assign the title of the loaded object

              div
                ul.thumbnail_list
                  li
                    a.magnificPopup.imgBorder_inner(data-title='data-title')
                      span.upperCase.bold_weight ANP software development
                      | '  href="images/portfolio/image1.jpg" target="_self"
                      span.overlay.zoom
                      img(src='images/portfolio/thumb1.jpg', alt='image text')
                  li
                    a.magnificPopup-video.imgBorder_inner(title='Load YouTube and Vimeo video', href='http://www.youtube.com/watch?v=9wlFSR3flbk')
                      span.overlay.video
                      img(src='images/portfolio/thumb2.jpg', alt='image text')
                  li
                    a.imgBorder_inner(href='#', target='_self')
                      span.overlay.link
                      img(src='images/portfolio/thumb3.jpg', alt='image text')
                  li
                    a.magnificPopup.imgBorder_inner(data-title='data-title')
                      span.upperCase.bold_weight Display Popup image
                      | '  href="images/portfolio/image4.jpg" target="_self"
                      span.overlay.zoom
                      img(src='images/portfolio/thumb4.jpg', alt='image text')
                  li
                    a.magnificPopup.imgBorder_inner(data-title='data-title')
                      span.upperCase.bold_weight Display Popup image
                      | '  href="images/portfolio/image5.jpg" target="_self"
                      span.overlay.zoom
                      img(src='images/portfolio/thumb5.jpg', alt='image text')
                  li
                    a.magnificPopup.imgBorder_inner(data-title='data-title')
                      span.upperCase.bold_weight Display Popup image
                      | '  href="images/portfolio/image6.jpg" target="_self"
                      span.overlay.zoom
                      img(src='images/portfolio/thumb6.jpg', alt='image text')
              hr
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h3 Clients Forever
                  .stroke-holder
                    .stroke-line.small_tit
          hr
          .row-fluid
            .span12
              ul.thumbnail_list.normal
                li
                  a
                    img.img-rounded-mini.imgBorder(src='images/client1.png', alt='image01')
                li
                  a
                    img.img-rounded-mini.imgBorder(src='images/client2.png', alt='image02')
                li
                  a
                    img.img-rounded-mini.imgBorder(src='images/client3.png', alt='image03')
                li
                  a
                    img.img-rounded-mini.imgBorder(src='images/client4.png', alt='image04')
              hr.separator_medium
    //
       Contact us
    .contentWrapper.contactPage.lightStyle(data-id='!contactus')
      .m-Scrollbar
        hr.alignToMiddle
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h2 Contact Us
                  .stroke-holder
                    .stroke-line
        .container-fluid.lightStyle.desktop_alignLeft
          .row-fluid
            .span12
              //
                 Google map position is defined in custom.min.js file near the // Google map Code // comment line
                                        the google.maps.LatLng variable is used to set the location of the map
              #map_canvas
                //
                   Google map load error message
                a.openGoogleMap
                  i.fa.fa-map-marker.fa-1x
                  strong Click to see Map Location
          .row-fluid
            .span5
              h5.upperCase.bold_weight  Office Address:
              hr
              h6
                | 0025 street name
                br
                | los Angle, 23589, USA
              hr
              em
                span.list6  123.123.2586
                span.list1  +044-3658954869
                span.list2
                  a admin@websitename.com
              ul.font_awesome
                li
                  a
                    i.fa.fa-facebook
                li
                  a
                    i.fa.fa-twitter
                li
                  a
                    i.fa.fa-google-plus
                li
                  a
                    i.fa.fa-flickr
                li
                  a
                    i.fa.fa-pinterest
              hr.separator_mini
            .span7
              .row-fluid
                .span12
                  h5.bold_weight  SEND MESSAGE:
                  hr
              .row-fluid.transparent
                //
                  Email contact Form
                form(name='contact ', method='post')
                  .row-fluid
                    .span6
                      input#name.span12(type='text', value='Name', name='name', onfocus='if(this.value == \'Name\') {this.value = \'\';}', onblur='if (this.value == \'\') {this.value = \'Name\';}')
                    .span6
                      input#email.span12(type='text', value='Email', name='email', onfocus='if(this.value == \'Email\') {this.value = \'\';}', onblur='if (this.value == \'\') {this.value = \'Email\';}')
                  .row-fluid
                    .span12
                      textarea#comments.span12(cols='30', rows='5', name='comments', onfocus='if(this.value == \'Comments...\') {this.value = \'\';}', onblur='if (this.value == \'\') {this.value = \'Comments...\';}') Comments...
                  .row-fluid
                    .span6
                      button#email_submit.button.transparent.alignLeft(type='submit') SEND
                      #reply_message
          hr.separator_mini
    .contentWrapper.contactPage.lightStyle(data-id='!features')
      .m-Scrollbar
        hr.alignToMiddle
        .container-fluid
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h2 Features
                  .stroke-holder
                    .stroke-line
        //
           Tab section
        .bar_content.tiny_font
          .container-fluid
            .row-fluid
              .span12
                h4 Listed some important Shortcode
        .container-fluid
          hr
          .row-fluid
            .span6
              h3 Tabs
              ul.nav.nav-tabs
                li.active
                  a(href='#tab_y1', data-toggle='tab') Section 1
                li
                  a(href='#tab_y2', data-toggle='tab') Section 2
              .tab-content
                #tab_y1.tab-pane.fade.in.active
                  p.tiny_font
                    | Topsum dolor sit amet, consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat.
                  h6
                    a
                      em - Tom, Founder -
                #tab_y2.tab-pane.fade
                  p
                    | Sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit. Nonummy nibh euismod tincidunt sed diam nonummy nibh.
                  h6
                    a
                      em - David French, Development Manager -
              br
            .span6
              h3 Table
              table.table.table-hover
                thead
                  tr
                    th #
                    th First Name
                    th Last Name
                    th Username
                  tr
                    td 1
                    td One One
                    td One Two
                    td One Three
                  tr
                    td 2
                    td Two One
                    td Two Two
                    td Two Three
                  tr
                    td 3
                    td Three
                    td Three One
                    td Three Three
                  tr
                    td 4
                    td Four One
                    td Four Two
                    td Four Three
          .stroke-line.separator
          .row-fluid
            .span6
              h4 Accordion - Toggle
              //
                 Start Accordion
                                The attribute data-autoHide is used to close the accordion tab automatically when the user select other tab,
                                The attribute data-openFirstElement is used to open the first accordion tab when page load

              dl.accordion(data-autohide='false', data-openfirstelement='false')
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Panel 1 heading text
                dd
                  span.acc_content
                    //
                       Tab content
                    | Add any number of accordion on same page. Option to open the first tab and tab autohide by using data attribute
                    br
                    | Just set
                    em
                      span.text_highlight data-autoHide="false"
                    | and
                    br
                    em
                      span.text_highlight data-openFirstElement="false"
                    | to the main accordion class div.
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Panel 2 heading text
                dd
                  span.acc_content
                    //
                       Tab content
                    | onec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Panel 3 sample heading text
                dd
                  span.acc_content
                    //
                       Tab content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus
              //
                 End Accordion
            .span6
              h4 Accordion - Auto Hide
              //
                 Start Accordion
                                  The attribute data-autoHide is used to close the accordion tab automatically when the user select other tab,
                                  The attribute data-openFirstElement is used to open the first accordion tab when page load

              dl.accordion(data-autohide='true', data-openfirstelement='true')
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Heading Text panel 1
                dd
                  span.acc_content
                    //
                       Tab content
                    | Lorem ipsum dolor sit a m et, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    br
                    | set
                    em
                      span.text_highlight data-autoHide="true"
                    | and
                    br
                    em
                      span.text_highlight data-openFirstElement="true"
                    | to the main accordion class div.
                    | Add any number of accordion on same page.
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Heading Text panel 2
                dd
                  span.acc_content
                    //
                       Tab content
                    | Lorem ipsum dolor sit a m et, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. onec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                //
                   Accordion tab
                dt
                  a.normal(href='')
                    span.acc_heading
                      //
                         Heading
                      | Lorem ipsum dolor sit amet 3
                dd
                  span.acc_content
                    //
                       Tab content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus
              //
                 End Accordion
          .stroke-line.separator
        .container-fluid
          .row-fluid
            .span6
              br
              .alert
                button.close(type='button', data-dismiss='alert') ×
                strong Warning!
                | Best check yo self, you're not looking too good.
              .alert.alert-error
                strong Oh snap!
                | Change a few things up and try submitting again.
              .alert.alert-success
                strong Well done!
                | You successfully read this important alert message.
              .alert.alert-info
                strong Heads up!
                | This alert needs your attention, but it's not super important.
              br
            .span6
              h3 Markup
              span.label Default
              span.label.label-success Success
              span.label.label-warning Warning
              span.label.label-important Important
              span.label.label-info Info
              span.label.label-inverse Inverse
              hr.separator_mini
          .stroke-line.separator
          hr
        .container-fluid
          //
             Typography - Grid
          h3 Typography - Grid
          hr
          .bs-docs-grid
            .row-fluid.show-grid
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
              .span1 1
            .row-fluid.show-grid
              .span4 4
              .span4 4
              .span4 4
            .row-fluid.show-grid
              .span4 4
              .span8 8
            .row-fluid.show-grid
              .span6 6
              .span6 6
            .row-fluid.show-grid
              .span12 12
          hr
          .stroke-line.separator
          hr
          .row-fluid
            //
               Heading Text
            .span5
              h1 <h1 Tag>
              h2 <h2 Tag>
              h3 <h3 Tag>
              h4 <h4 Tag>
              h5 <h5 Tag>
              h6 <h6 Tag>
              hr
            .span4
              //
                 Blockquote
              blockquote
                p Blockquote style example It stands out, but is awesome. Lorem ipsum dolor
                cite Dave Gamache, Skeleton Creator
              //
                 High light text
              p
                | Lorem ipsum
                span.text_highlight highlight text
                | dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.
                span.text_highlight highlight text
                | Ut wisi enim ad constetur adiscing elit. Lorem ipsum dolor sit amet
            .span3
              //
                 Button sample
              h3 Buttons
              a.button.small button small
              a.button button
              a.button.medium button medium
              a.button.large button large
              a.button.inverse.medium(href='index.html') button inverse medium
              br
              a.list_hover.pad list_hover
              a.button.highlight button highlight
              br
              a.normal normal
              a.text_hover text_hover
              br
              br
              a noramal a tag link
              hr
          hr
          .stroke-line.separator
          hr
          //
             Listed items
          .row-fluid
            .span12
              h4  Font Awesome Icons
              //
                 Socialize icons
              ul.font_awesome
                li
                  a
                    i.fa.fa-adn
                li
                  a
                    i.fa.fa-android
                li
                  a
                    i.fa.fa-apple
                li
                  a
                    i.fa.fa-bitbucket
                li
                  a
                    i.fa.fa-bitbucket-square
                li
                  a
                    i.fa.fa-bitcoin
                li
                  a
                    i.fa.fa-btc
                li
                  a
                    i.fa.fa-css3
                li
                  a
                    i.fa.fa-dribbble
                li
                  a
                    i.fa.fa-dropbox
                li
                  a
                    i.fa.fa-facebook
                li
                  a
                    i.fa.fa-facebook-square
                li
                  a
                    i.fa.fa-flickr
                li
                  a
                    i.fa.fa-foursquare
                li
                  a
                    i.fa.fa-github
                li
                  a
                    i.fa.fa-github-alt
                li
                  a
                    i.fa.fa-github-square
                li
                  a
                    i.fa.fa-gittip
                li
                  a
                    i.fa.fa-google-plus
                li
                  a
                    i.fa.fa-google-plus-square
                li
                  a
                    i.fa.fa-html5
                li
                  a
                    i.fa.fa-instagram
                li
                  a
                    i.fa.fa-linkedin
                li
                  a
                    i.fa.fa-linkedin-square
                li
                  a
                    i.fa.fa-linux
                li
                  a
                    i.fa.fa-maxcdn
                li
                  a
                    i.fa.fa-pinterest
                li
                  a
                    i.fa.fa-pinterest-square
                li
                  a
                    i.fa.fa-renren
                li
                  a
                    i.fa.fa-skype
                li
                  a
                    i.fa.fa-stack-exchange
                li
                  a
                    i.fa.fa-trello
                li
                  a
                    i.fa.fa-tumblr
                li
                  a
                    i.fa.fa-tumblr-square
                li
                  a
                    i.fa.fa-twitter
                li
                  a
                    i.fa.fa-twitter-square
                li
                  a
                    i.fa.fa-vk
                li
                  a
                    i.fa.fa-weibo
                li
                  a
                    i.fa.fa-windows
                li
                  a
                    i.fa.fa-xing
                li
                  a
                    i.fa.fa-xing-square
                li
                  a
                    i.fa.fa-youtube
                li
                  a
                    i.fa.fa-youtube-play
                li
                  a
                    i.fa.fa-youtube-square
              hr.separator_medium
              h4 Font Awesome inverse
              //
                 Socialize icons inverse color
              ul.font_awesome.inverse
                li
                  a
                    i.fa.fa-adn
                li
                  a
                    i.fa.fa-android
                li
                  a
                    i.fa.fa-apple
                li
                  a
                    i.fa.fa-bitbucket
                li
                  a
                    i.fa.fa-bitbucket-square
                li
                  a
                    i.fa.fa-bitcoin
                li
                  a
                    i.fa.fa-btc
                li
                  a
                    i.fa.fa-css3
                li
                  a
                    i.fa.fa-dribbble
                li
                  a
                    i.fa.fa-dropbox
                li
                  a
                    i.fa.fa-facebook
                li
                  a
                    i.fa.fa-facebook-square
                li
                  a
                    i.fa.fa-flickr
                li
                  a
                    i.fa.fa-foursquare
                li
                  a
                    i.fa.fa-github
                li
                  a
                    i.fa.fa-github-alt
                li
                  a
                    i.fa.fa-github-square
                li
                  a
                    i.fa.fa-gittip
                li
                  a
                    i.fa.fa-google-plus
                li
                  a
                    i.fa.fa-google-plus-square
                li
                  a
                    i.fa.fa-html5
                li
                  a
                    i.fa.fa-instagram
                li
                  a
                    i.fa.fa-linkedin
                li
                  a
                    i.fa.fa-linkedin-square
                li
                  a
                    i.fa.fa-linux
                li
                  a
                    i.fa.fa-maxcdn
                li
                  a
                    i.fa.fa-pinterest
                li
                  a
                    i.fa.fa-pinterest-square
                li
                  a
                    i.fa.fa-renren
                li
                  a
                    i.fa.fa-skype
                li
                  a
                    i.fa.fa-stack-exchange
                li
                  a
                    i.fa.fa-trello
                li
                  a
                    i.fa.fa-tumblr
                li
                  a
                    i.fa.fa-tumblr-square
                li
                  a
                    i.fa.fa-twitter
                li
                  a
                    i.fa.fa-twitter-square
                li
                  a
                    i.fa.fa-vk
                li
                  a
                    i.fa.fa-weibo
                li
                  a
                    i.fa.fa-windows
                li
                  a
                    i.fa.fa-xing
                li
                  a
                    i.fa.fa-xing-square
                li
                  a
                    i.fa.fa-youtube
                li
                  a
                    i.fa.fa-youtube-play
                li
                  a
                    i.fa.fa-youtube-square
          hr.separator_medium
          .row-fluid
            .span6
              h4 Custom Listed items
              br
              .row-fluid
                .span6
                  span.list1 list1 item
                  span.list2 list2 item
                  span.list3 list3 item
                  span.list4 list4 item
                  span.list5 list5 item
                .span6
                  span.list6 list6 item
                  span.list7 list7 item
                  span.list8 list8 item
                  span.list9 list9 item
                  span.list10 list10 item
              br
            .span6
              h4 Font Awesome listed
              a.list_hover
                i.fa.fa-user
                | user
              a.list_hover
                i.fa.fa-comment
                | comment
              a.list_hover
                i.fa.fa-thumbs-up-alt
                | thumbs-up-alt
              a.list_hover
                i.fa.fa-globe
                | globe
              a.list_hover
                i.fa.fa-cloud-download
                | cloud-download
              a.list_hover
                i.fa.fa-cog
                | cog
              a.list_hover
                i.fa.fa-picture-o
                | picture
              a.list_hover
                i.fa.fa-edit
                | edit
              a.list_hover
                i.fa.fa-pencil
                | pencil
          hr.separator_mini
          .row-fluid
            .span12
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h4 Custom Social Icons
                  .stroke-holder
                    .stroke-line.small_tit
              //
                 Socialize icons
              ul.social_bookmarks.padLeft_small
                li.twitter
                  a(title='twitter') Follow us on Twitter
                li.facebook
                  a(title='Facebook') Join our Facebook Group
                li.gplus
                  a(title='Google Plus') Join me on Google Plus
                li.linkedin
                  a(title='Linkedin') Add me on Linkedin
                li.rss
                  a(title='RSS') RSS
                li.digg
                  a(title='Digg') Digg
                li.delicious
                  a(title='delicious') delicious
                li.youtube
                  a(title='youtube') youtube
                li.vimeo
                  a(title='vimeo') vimeo
                li.skype
                  a(title='skype') skype
                li.dribbble
                  a(title='dribbble') dribbble
                li.ichat
                  a(title='ichat') ichat
                li.deviantart
                  a(title='deviantart') deviantart
                li.stumbleupon
                  a(title='stumbleupon') stumbleupon
              hr
              hr.separator_medium
              .heading_stroke
                .heading_stroke_wrapper
                  .stroke-text
                    h4 Tags element
                  .stroke-holder
                    .stroke-line.small_tit
              ul.blog_element
                li.tag_icon
                  i.fa.fa-tags
                li
                  a jQuery
                li
                  a CSS3
                li
                  a HTML5
                li
                  a php
              hr
              hr.separator_medium
              h4
                | You can see hundreds icons in
                a(href='http://fortawesome.github.io/Font-Awesome/icons/') Font-Awesome
                | webpage
              hr.separator_medium
          hr



  script(type="text/javascript", src="js/jquery-1.8.2.min.js")
  script(type="text/javascript", src="js/bootstrap.min.js")
  script(type="text/javascript", src="js/jquery.fitvids.js")
  //script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false")
  script(type="text/javascript", src="js/supersized.3.2.7.min.js")
  script(type="text/javascript", src="js/supersized.shutter.min.js")
  script(type="text/javascript", src="js/jquery.magnific-popup.min.js")
  script(type="text/javascript", src="js/jquery.mCustomScrollbar.concat.min.js")
  script(type="text/javascript", src="js/jquery.cycle.all.js")
  script(type="text/javascript", src="js/jquery.nicescroll.min.js")
  script(type="text/javascript", src="js/custom.min.js")
  script(type="text/javascript", src="js/jquery.comingsoon.min.js")
  script(type="text/javascript", src="js/main-fm.min.js")
  script(type="text/javascript", src="js/jquery.jstwitter.js")
  script(type="text/javascript", src="js/page.js")
